.wx-index {
  background: url('../images/icon-index.png') no-repeat center center;
  background-size: contain;
}
.wx-index.active {
  background: url('../images/icon-index-active.png') no-repeat center center;
  background-size: contain;
}

.wx-invest {
  background: url('../images/icon-invest.png') no-repeat center center;
  background-size: contain;
}
.wx-invest.active {
  background: url('../images/icon-invest-active.png') no-repeat center center;
  background-size: contain;
}

.wx-course {
  background: url('../images/icon-course.png') no-repeat center center;
  background-size: contain;
}
.wx-course.active {
  background: url('../images/icon-course-active.png') no-repeat center center;
  background-size: contain;
}

.wx-account {
  background: url('../images/icon-account.png') no-repeat center center;
  background-size: contain;
}
.wx-account.active {
  background: url('../images/icon-account-active.png') no-repeat center center;
  background-size: contain;
}